wsdl/wsdl_xtk_specFile.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:xtk:specFile" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:xtk:specFile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><types><s:schema elementFormDefault="qualified" targetNamespace="urn:xtk:specFile"><s:complexType name="Element"><s:sequence><s:any processContents="lax"/></s:sequence></s:complexType><s:element name="Generate"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="entity" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GenerateResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="GenerateDoc"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="entity"
        type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GenerateDocResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomPackage" type="tns:Element"/></s:sequence></s:complexType></s:element></s:schema></types><message name="GenerateIn"><part element="tns:Generate" name="parameters"/></message><message name="GenerateOut"><part element="tns:GenerateResponse" name="parameters"/></message><message name="GenerateDocIn"><part element="tns:GenerateDoc" name="parameters"/></message><message name="GenerateDocOut"><part element="tns:GenerateDocResponse" name="parameters"/></message><portType name="specFileMethodsSoap"><operation name="Generate"><input message="tns:GenerateIn"/><output message="tns:GenerateOut"/></operation><operation name="GenerateDoc"><input message="tns:GenerateDocIn"/><output message="tns:GenerateDocOut"/></operation></portType><binding name="specFileMethodsSoap" type="tns:specFileMethodsSoap"><soap:binding
      style="document" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="Generate"><soap:operation soapAction="xtk:specFile#Generate" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="GenerateDoc"><soap:operation soapAction="xtk:specFile#GenerateDoc" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation></binding><service name="XtkSpecFile"><port binding="tns:specFileMethodsSoap" name="specFileMethodsSoap"><soap:address location="https://guerlain-pcis-test.neolane.net/nl/jsp/soaprouter.jsp"/></port></service></definitions>
